$black-color: #000000;
$white-color: #ffffff;

$black-color-1:#1A1C1D;

$primary-color: #6B59CC;
$secondary-color: #8083A3;

$grey-color-1: #FAF9FF;
$grey-color-2: #ECEEF5;
$grey-color-3: #F3F4F9;

$green-color: #28C345;
$orange-color: #F6933E;