<router-outlet></router-outlet>

<div class="contact">
  <div class="contact__list-box">
    <app-contacts-list [isContactListLoading]="isContactListLoading" [contactList]="allContactList"
      [selectedContact]="selectedContact" (selectContact)="handleSelectContact($event)"></app-contacts-list>
  </div>
  <div class="contact__details-box">
    <div *ngIf="!isContactDetailLoading && selectedContact">
      <app-contact-details [contactDetail]="selectedContact"></app-contact-details>
    </div>
    <div *ngIf="isContactDetailLoading">
      <div class="contact-details-loader">
        <div class="contact-details-loader__profile"></div>
        <div class="contact-details-loader__basic">
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div>
          <ul>
            <li *ngFor="let j of [1, 2, 3, 4, 5, 6]; let k = index"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>